<%- include('partials/header.ejs') %>
    <div class="home-page">
        <img id="home-page-img" alt="Paul Graham's Image" 
             src="https://cryptopotato.com/wp-content/uploads/2022/02/Paul_Graham2.jpg">
        <h1>Welcome to My Blog</h1>
        <p id="home-page-introduction">
            I'm Paul Graham, a British-born American computer scientist, entrepreneur, and essayist. 
            I co-founded Y Combinator, a startup incubator that has helped launch many successful companies. 
            I'm also known for creating the Lisp dialect Arc and writing a collection of influential essays 
            on topics such as programming, startups, and philosophy. My book, Hackers & Painters, delves 
            into the connection between technology, art, and innovation.
        </p>
        <p id="call-to-action">Explore my essays</p>

        <section id="notable-work-introduction">
            <h1>Paul Graham's Notable Work</h1>
            <ul>
                <li>Co-founder of Y Combinator (YC)
                    <ul>
                        <li>Paul co-founded YC, a highly influential startup accelerator 
                            that has helped launch companies like Dropbox, Airbnb, Stripe, and Reddit.</li>
                        <li>Essays in this domain explore startup creation, scaling, and insights into entrepreneurial success.</li>
                    </ul>
                </li>
                <li>Author of "Hackers & Painters"
                    <ul>
                        <li>A collection of essays where Paul draws parallels between hackers 
                            (programmers) and painters, focusing on creativity, innovation, and technology.</li>
                        <li>Readers will find discussions on the importance of craftsmanship and the art of problem-solving.</li>
                    </ul>
                </li>
                <li>Lisp Programming Contributions
                    <ul>
                        <li>Paul is the creator of the Lisp dialect, Arc, and has written extensively about the power and elegance of Lisp.</li>
                        <li>Essays here delve into programming principles, the history and future of programming languages, and practical advice for programmers.</li>
                    </ul>
                </li>
                <li>Philosophical and Thought-Provoking Ideas
                    <ul>
                        <li>Paul often shares his unique perspectives on how technology intersects with society, creativity, and productivity.</li>
                        <li>Readers can explore essays on topics such as wealth creation, life design, and societal trends.</li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- <script src="index.js"></script> -->
</body>
</html>
